@import "../../styles/mixins";

.rangePicker {

    .inputGroup {
        @include make-flex();
    }
}

.value {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}