@import "../../styles/mixins";

.rangePicker {
    max-width: 15rem;
}

.inputGroup {
    @include make-flex();
}

.value {
    width: 2.25rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}