.picker {
    display: block;
    width: 100%;
    max-width: 15rem;
    position: relative;
    outline: none;
    * {
        outline: none;
    }
}

.label {
    display: block;
}

.select {
    display: block;
    width: 100%;
    border: 1px solid currentColor;
    padding: 0.375rem 0.75rem;

    &:focus-within,
    &:focus-visible {
        box-shadow: 0 0.25rem 0.5rem 0.25rem #495057;
    }
}