@import "./base.module.scss";

.picker {
    @extend %picker;
}

.labelRow {
    @extend %labelRow;
}

.inputRow {
    @extend %inputRow;
}

.backgroundColorInput {
    @extend %input;
    max-width: calc(100% - 2.375rem - 2.375rem);
}

.backgroundColorSwatch {
    @extend %swatch;
}

.popup {
    @extend %popup;
}

.foregroundColorInput {
    @extend %swatch;
    appearance: none;
    background-color: currentColor;

    &:checked {
        background-color: transparent; // this cheat lets me show the page background color
    }
}