// scss-docs-start grid-breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	3xl: 1600px,
	4xl: 1920px) !default;
// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
	3xl: 1500px,
	4xl: 1800px) !default;
// scss-docs-end container-max-widths

%container {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

@each $breakpoint, $container-max-width in $container-max-widths {
	$grid-breakpoint: map-get($grid-breakpoints, $breakpoint);

	%container {
		@media (min-width: $grid-breakpoint) {
			width: $container-max-width;
		}
	}
}