@import "variables";
@import "container";
@import "mixins";
@import "reset";

body {
	font-family: $font-family-sans-serif;
	line-height: $line-height-base;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: $dark;
	color: $light;
	margin-bottom: 1.5rem;
	padding: 0.5rem 5rem;
}

footer {
	background-color: $dark;
	color: $light;
	margin-top: auto;
	padding: 0.5rem 0;
	text-align: center;
}

main {
	@extend %container;
	@include make-flex($column-gap: 1rem, $align-items: inherit);
}

label {
	font-weight: bold;
}

.examplesPanel {
	.examples {
		display: flex;
		gap: 1rem;
	}
}