@import "variables";
@import "container";
@import "mixins";
@import "reset";

body {
	font-family: $font-family-sans-serif;
	line-height: $line-height-base;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: $body-color;
	color: $body-bg;
	margin-bottom: 1.5rem;
	padding: 0.5rem 5rem;
}

footer {
	background-color: $body-color;
	color: $body-bg;
	margin-top: auto;
	padding: 0.5rem 0;
	text-align: center;
}

main {
	@extend %container;
	@include make-flex($column-gap: 5rem, $align-items: inherit);
}

.buttonPanel {
	@include make-flex($column-gap: 5rem);
}

.picker {
	margin-bottom: 0.5rem;

	label {
		font-weight: bold;
	}

	.inputGroup {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;

		select,
		input {
			position: relative;
			flex: 1 1 auto;
			border: 1px solid currentColor;
			border-radius: 0;
			padding: 0.375rem 0.75rem;
			width: 1%;
			min-width: 0;
			outline: none;
		}

		&:focus-within,
		&:focus-visible {
			box-shadow: 0 0.25rem 0.5rem 0.25rem #495057;
		}
	}

	.popoverPicker {
		position: relative;
	  }
	  
	  .swatch {
		width: 2.25rem;
		height: 100%;
		cursor: pointer;
		border: 1px solid currentColor;
		border-left: 0;
	  }
	  
	  .popover {
		position: absolute;
		top: 0;
		left: calc(100% + 2px);
		border-radius: 9px;
	  }
}

.swatchPanel {
	@include make-flex($column-gap: 0.5rem, $row-gap: 0.5rem, $align-items: flex-start, $align-content: flex-start, $flex-wrap: wrap);

	> * {
		flex: 1 1 0px;
	}

	.swatch {
		min-width: 20rem;
		border: 1px solid currentColor;
		padding: 0.5rem;
	}
}

.row-with-gap {
	@include make-flex($column-gap: 5rem, $row-gap: 5rem);
}

.column-with-gap {
	@include make-flex($flex-direction: column, $column-gap: 0.5rem, $row-gap: 0.5rem);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}
}

.h4-spacer {
	position: relative;
	display: block;
	height: 2.25rem;
}